name: Deploy Production

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: "just-a-placeholder-so-we-dont-get-errors"
      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Add .env.production
        run: echo $APP_ENV >> .env.production
        env:
          APP_ENV: ${{ secrets.MEMECHANTRESS_ENV }}

      - name: (Debug) List files
        run: ls -a

      - name: Copy sources to server
        run: rsync -avz ./ root@${{ secrets.SSH_HOST }}:/home/actions-demo/memechantress
      - name: Build & run application
        run: ssh root@${{ secrets.SSH_HOST }} 'uptime; rm -rf /home/apps/memechantress; mv /home/actions-demo/memechantress /home/apps/memechantress; cd /home/apps/memechantress/docker; docker compose up -d; docker compose restart memechantress_bot'
      # - name: Build app
      #   uses: appleboy/ssh-action@master
      #   with:
      #     host: ${{ secrets.SSH_HOST }}
      #     username: root
      #     key: ${{ secrets.SSH_PRIVATE_KEY }}
      #     port: 22
      #     script: |
      #       uptime
      #       mv /home/actions-demo/memechantress /home/apps/memechantress
      #       cd /home/apps/memechantress
      #       docker compose -f docker/docker-compose.yml up -d
      #       docker compose restart memechantress_bot
