name: Deploy Production

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: "just-a-placeholder-so-we-dont-get-errors"
      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Copy sources to server
        run: rsync -avz ./ root@${{ secrets.SSH_HOST }}:/home/apps/memechantress_fresh
      - name: Build & run application
        run: >-
          ssh root@${{ secrets.SSH_HOST }}
          '
            uptime;
            cd /home/apps;
            rm -rf memechantress_prev;
            mv memechantress memechantress_prev;
            mv memechantress_fresh memechantress;
            cp envs/memechantress.env memechantress/.env.production;
            cd memechantress/docker;
            docker compose build;
            docker compose up -d;
          '
